*{
    padding: 0;
    margin: 0;
}

/*NAV-INICIO*/

.nav-inicio{
    background-color: black;
}

.items-inicio{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-right: 30px;
    margin-left: 1150px;
}

.items-inicio *{
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.items-inicio li a:hover{
    color: rgb(64, 179, 19);
    padding: auto;
}

/*NAV-BAR*/

.logo-nav{
    width: 350px;
    margin-top: 30px;
    max-height: 40px;
    margin-left: 150px;
}

.imagen-icono{
    transition: 0.5s;
}

.imagen-icono i:hover{
    transition: 1s;
    cursor: pointer;
    padding: auto;
}

.nav-bar{
    background: url(../media/fondo.jpg);
    display: flex;
    justify-content: space-between;
    margin-top: -16px;
}

.items-nav{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 60px;
}

.items-nav *{
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
}

.items-nav li a:hover{
    color: rgb(64, 179, 19);
    padding: auto;
}

.dropdown-menu{
    display: none;
    background: url(../media/fondo.jpg);
    padding: auto;
}

.dropdown-menu:hover *{
    display: block;
    background: url(../media/fondo.jpg);
    padding: auto;
}

.dropdown-item{
    transition: 0.3s;
    display: block;
    background-color: rgba(255, 255, 255, 0);
    padding: auto;
}

.dropdown-item:hover{
    transition: 0.5s;
}

.imagen-item:hover{
    transition: 1s;
    padding: auto;
}

/*html*/

body{
    background:  url(../media/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
}

.fondoimagen{
    background-color: black;
}

.imagen{
    display: flex;
    width: 1202px;
    height: 604px;
    margin-left: 190px;
}

.fondocarousel{
    background-color: #fff;
    margin-left: 223px;
    width: 1137px;
    height: 650px;
}

.textcarousel{
    text-align:center;
    font-size: 30px;
    color: #000;
    height: 150px;
}

.carousel-indicators{
    width: 50px;
}

.carousel-caption{
    color: green;
    text-align: center;
}
